{{- $dir := .Get "dir" | default (.Get 0) | default "images" -}}
{{- $duration := .Get "duration" | default "6" -}}
{{- $height := .Get "height" | default "90vh" -}}
{{- $slideshowId := printf "slideshow-%s" ($dir | replaceRE "[^a-zA-Z0-9]+" "-") -}}

{{- $images := slice -}}
{{- range (readDir (printf "static/%s" $dir)) -}}
{{- if and (not .IsDir) (in (slice ".jpg" ".jpeg" ".png" ".gif" ".webp") (path.Ext .Name | lower)) -}}
{{- $images = $images | append . -}}
{{- end -}}
{{- end -}}

{{- $imageCount := len $images -}}
{{- $durationInt := int $duration -}}
{{- $totalDuration := mul $imageCount $durationInt -}}

<div class="slideshow-container slideshow-{{ $slideshowId }}">
    {{- range $index, $image := $images -}}
    <img src="/{{ $dir }}/{{ $image.Name }}" alt="Slideshow image {{ add $index 1 }}" loading="lazy">
    {{- end -}}
</div>

<style>
    .slideshow- {
            {
            $slideshowId
        }
    }

        {
        position: relative;

        height: {
                {
                $height
            }
        }

        ;
        margin-left: auto;
        overflow: hidden;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .slideshow- {
            {
            $slideshowId
        }
    }

    img {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        height: 95vh;
        object-fit: cover;
        opacity: 0;

        animation: slideshow- {
                {
                $slideshowId
            }
        }

            {
                {
                $totalDuration
            }
        }

        s infinite;
    }

        {
            {
            - range $index,
            $image : =$images
        }
    }

    .slideshow- {
            {
            $slideshowId
        }
    }

    img:nth-child({
            {
            add $index 1
        }

    }) {
        animation-delay: {
                {
                mul $index $durationInt
            }
        }

        s;
    }

        {
            {
            - end
        }
    }

    @keyframes slideshow- {
            {
            $slideshowId
        }
    }

        {
        0% {
            opacity: 0;
        }

            {
                {
                div 3.0 (float $totalDuration) | mul 100
            }
        }

        % {
            opacity: 1;
        }

            {
                {
                div (float $durationInt) (float $totalDuration) | mul 100 | mul 0.9
            }
        }

        % {
            opacity: 1;
        }

            {
                {
                div (float $durationInt) (float $totalDuration) | mul 100
            }
        }

        % {
            opacity: 0;
        }

        100% {
            opacity: 0;
        }
    }

    @media (max-width: 768px) {
        .slideshow- {
                {
                $slideshowId
            }
        }

            {
            height: 50vh;
        }

        .slideshow- {
                {
                $slideshowId
            }
        }

        img {
            height: 50vh;
        }
    }
</style>